<div class="col-md-8">
    <div class="p-3 mb-2 bg-light text-dark"><h4 >New Actor Add</h4>
    </div>
    <form #addForm="ngForm" (ngSubmit)="add(addForm)">
        <div class="mb-3">
          <label for="name" class="form-label">First Name</label>
          <input type="text" class="form-control" required minlength="2" #actorFirstNameInput="ngModel" name="firstname" [(ngModel)]="actorModel.firstName">
        </div>
        <div class="alert alert-danger" *ngIf="actorFirstNameInput.invalid && (actorFirstNameInput.dirty || actorFirstNameInput.touched)">
          <small *ngIf="actorFirstNameInput.errors?.['required']">Actor First name required !</small>
          <small *ngIf="actorFirstNameInput.errors?.['minlength']">Actor name minimum length is 2 character !</small>
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">Last Name</label>
            <input type="text" class="form-control" required minlength="2" #actorLastNameInput="ngModel" name="lastname" [(ngModel)]="actorModel.lastname">
          </div>
          <div class="alert alert-danger" *ngIf="actorLastNameInput.invalid && (actorLastNameInput.dirty || actorLastNameInput.touched)">
            <small *ngIf="actorLastNameInput.errors?.['required']">Actor Last name required !</small>
            <small *ngIf="actorLastNameInput.errors?.['minlength']">Actor last name minimum length is 2 character !</small>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">Birth Date</label>
            <input type="date" class="form-control" name="birthdate" [(ngModel)]="actorModel.birthDate">
          </div>
        <button type="submit" class="btn btn-primary" >Save</button>
        <button type="submit" class="btn btn-warning mx-2" routerLink="/admin/actors">Back</button>
      </form>
    </div>