<div class="row">
    <div class="d-flex justify-content-start mb-3 ">
        <a class="btn btn-info mx-4" routerLink="movie-add"><i class="fa-sharp fa-regular fa-plus fa-lg"></i>  New Movie</a>
        <div class="col-md-6">
          <div class="form-group offset-0">
            <input class="form-control" [(ngModel)]="filterText" [ngModelOptions]="{standalone:true}" type="search" placeholder="Aranacak kelime" aria-label="Aranacak kelime">
          </div>
        </div>
    </div>

</div>
<div class="row">

<table class="table table-hover">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Movie Name</th>
          <th scope="col">Director</th>
          <th scope="col">Actors</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movie of moviesList | moviePipe:filterText let index=index">
          <th scope="row" [innerText]="index+1"></th>
          <td class="text-primary" [innerText]="movie.name"></td>
          <td [innerText]="movie.directorName" class="text-success"></td>
          <td>
            <ul class="nav justify-content-left" >
                <li class="nav-item" *ngFor="let actor of movie.actors">
                  <small class="text-secondary"><strong>{{actor}},  </strong></small>
                </li>
              </ul>
          </td>
          <td>
            <a class="btn btn-warning mx-1" routerLink="movie-detail/{{movie.id}}">Movie Details</a>
            <a class="btn btn-warning mx-1" routerLink="movie-update/{{movie.id}}">Update</a>
            <button class="btn btn-danger mx-1" [swal]="deleteSwal" (confirm)="delete(movie.id)">Delete</button>
          </td>
        </tr>
        </tbody>
</table>
<swal #deleteSwal title="Delete?" text="Do you want to delete this permanently?" type="question" [showCancelButton]="true" [focusCancel]="true" [swalOptions]="{confirmButtonText: 'Delete', cancelButtonText:'Exit'}"></swal>


</div>