<div class="col-lg-8 offset-md-2">

    <div class="row">
        <div class="col-lg-6"  *ngFor="let movie of movieInfoList">
            <!-- Blog post-->
            <div class="card mb-4">
                <a href="#!"><img class="card-img-top" style="height:300px;width:200px" [src]="movie.posterPath" alt="..."></a>
                <div class="card-body">
                    <div class="small text-muted">Director: <mark>{{movie.directorName}}</mark></div>
                    <h5 class="card-title h5 text-primary" [innerText]="movie.name" ></h5>
                    <p class="card-text text-success mb-0"><u>Actors</u></p>
                       <table ><tr ><td *ngFor="let actor of movie.actors" class="text-secondary">{{actor}}, <td></tr></table>
                    <a class="btn btn-primary mt-2" href="#!">Read more →</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Pagination-->
    <nav aria-label="Pagination">
        <hr class="my-0">
        <ul class="pagination justify-content-center my-4">
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
            <li class="page-item"><a class="page-link" href="#!">2</a></li>
            <li class="page-item"><a class="page-link" href="#!">3</a></li>
            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
            <li class="page-item"><a class="page-link" href="#!">15</a></li>
            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
        </ul>
    </nav>
</div>