<div class="col-md-8">
<div class="p-3 mb-2 bg-light text-dark"><h4 >Movie Update</h4>
</div>
<form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
    <div class="mb-3">
        <label for="movieId" class="form-label">Movie Id</label>
        <input disabled type="text" class="form-control" id="movieId" name="movieId" [ngModel]="movieUpdateModel.id" [ngModelOptions]="{standalone: true}">
      </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="moviename" name="moviename" [(ngModel)]="movieUpdateModel.name" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="mb-3">
        <select class="form-select" aria-label="Default select example" (ngModelChange)="directorChange($event)" name="director" [ngModel]="directorDropList">
                        
            <option *ngFor="let director of directorDropList" value="{{director.id}}" [selected]="director.id==movieUpdateModel.directorId">{{director.firstName}} {{director.lastName}} {{(director.id==movieUpdateModel.directorId) ? "(selected)" : ""}} </option>
          </select>
    </div>
    <button type="submit" class="btn btn-primary" >Update</button>
  </form>
</div>